<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="book"></ion-icon>
        Todo List
      </ion-tab-button>
      <ion-tab-button tab="leaflet">
        <ion-icon name="map"></ion-icon>
        Leaflet Map
      </ion-tab-button>
      <ion-tab-button tab="weather">
        <ion-icon name="rainy"></ion-icon>
        Weather
      </ion-tab-button>
      <ion-tab-button tab="building">
        <ion-icon name="business"></ion-icon>
        Building
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>