<ion-header>
  <ion-toolbar>
    <ion-title>Task Baru</ion-title>
    <ion-icon name="close" slot="end" size="large" (click)="dismis()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-item>
    <ion-textarea placeholder="Tuliskan Kegiatan Anda..."></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Prioritas</ion-label>
    <ion-select>
      <ion-select-option value="low">Rendah</ion-select-option>
      <ion-select-option value="medium">Sedang</ion-select-option>
      <ion-select-option value="hight">Tinggi</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-icon name="calendar-outline" slot="start"></ion-icon>
    <ion-label>Tanggal</ion-label>
    <ion-datetime displayFormat="D MMM YYYY H:mm"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-icon name="pricetag-outline" slot="start"></ion-icon>
    <ion-label>Kategori</ion-label>
  </ion-item>

  <ion-button class="ion-margin" expand="block"> Tambahkan </ion-button>
</ion-card>
</ion-content>
